<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto max-w-4xl py-32 sm:py-48 lg:py-56">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Instituto Brasileiro de Estudo e Defesa das Relações de Consumo
      </h1>
      <p class="mt-6 text-2xl leading-8 text-gray-500">
        O IBEDEC atua, sem fins lucrativos, na defesa do direito do consumidor.
      </p>
      <div class="flex flex-col gap-x-6 mt-10 sm:flex-row sm:items-center sm:justify-center">
        <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Agende seu atendimento gratuito
        </a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">ou nos mande uma mensagem <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>
</div>
