<main class="isolate pb-24">
  <!-- Hero section -->
  <div class="mx-auto max-w-7xl mt-40 px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Política de privacidade
      </h1>
    </div>
  </div>

  <!-- Content -->
  <div class="mx-auto mt-16 max-w-7xl prose text-justify px-6 lg:px-8">
    <p class="mt-4">
      O IBEDEC - Instituto Brasileiro de Estudo e Defesa das Relações de Consumo - reconhece a importância da privacidade e proteção dos dados pessoais dos usuários de seus serviços. Esta política de privacidade ("Política") descreve como coletamos, usamos, divulgamos e protegemos as informações pessoais que nos são fornecidas pelos usuários de nossos serviços.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Coleta de informações
    </h2>
    <p class="mt-4">
      O IBEDEC coleta informações pessoais, incluindo o endereço de e-mail, apenas com o consentimento expresso e claro dos usuários. Essas informações são coletadas quando o usuário preenche um formulário em nosso site, quando se inscreve em um de nossos eventos ou cursos, ou quando se comunica conosco por meio de nossos canais de atendimento.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Uso das informações
    </h2>
    <p class="mt-4">
      As informações pessoais coletadas pelo IBEDEC são utilizadas para fornecer os serviços solicitados pelos usuários, como o envio de newsletters, boletins informativos e informações sobre eventos e cursos. Além disso, usamos essas informações para melhorar nossos serviços e personalizar a experiência do usuário em nosso site.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Divulgação de informações
    </h2>
    <p class="mt-4">
      O IBEDEC não compartilha, vende ou aluga as informações pessoais dos usuários a terceiros sem o consentimento expresso. Podemos compartilhar informações pessoais com terceiros que prestam serviços em nosso nome, mas apenas na medida necessária para que esses terceiros prestem esses serviços.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Proteção das informações
    </h2>
    <p class="mt-4">
      O IBEDEC toma medidas razoáveis para proteger as informações pessoais dos usuários contra o acesso não autorizado, uso indevido ou divulgação. As informações são armazenadas em servidores seguros e acessíveis apenas por pessoal autorizado.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Direitos dos usuários
    </h2>
    <p class="mt-4">
      Os usuários têm o direito de solicitar acesso, correção ou exclusão de suas informações pessoais que mantemos em nosso banco de dados. Os usuários também têm o direito de optar por não receber nossas comunicações a qualquer momento.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Cumprimento da LGPD
    </h2>
    <p class="mt-4">
      O IBEDEC compromete-se a cumprir as leis e regulamentações aplicáveis, incluindo a Lei Geral de Proteção de Dados Pessoais (LGPD) do Brasil.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Alterações na política de privacidade
    </h2>
    <p class="mt-4">
      O IBEDEC pode atualizar esta Política de Privacidade de tempos em tempos. Notificaremos os usuários de quaisquer alterações significativas por meio de nosso site ou por e-mail.
    </p>
    <h2 class="text-xl font-medium mt-8">
      Contato
    </h2>
    <p class="mt-4">
      Se tiver alguma dúvida ou preocupação sobre esta Política de Privacidade, entre em contato conosco por meio de nossos canais de atendimento.
    </p>
    <p class="mt-8">
      Última atualização: 4 de abril de 2023.
    </p>
  </div>
</main>
