<div class="pb-16 pt-24 sm:pt-32">
  <div class="mt-10 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-16 gap-y-8 lg:max-w-none lg:grid-cols-2">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          SFH e SFI
        </h1>
        <h3 class="mt-10 text-xl font-medium tracking-tight text-gray-600 sm:text-3xl">
          Cartilhas
        </h3>
        <p class="relative mt-4 text-xl leading-8 text-gray-600 max-w-4xl text-justify">
          Tudo que você sempre quis saber sobre o financiamento da casa própria, mas nunca ninguém lhe explicou. Este é o conteúdo que você irá encontrar na Cartilha do Mutuário, material criado pelo IBEDEC para a <%= link_to 'ABMH', 'https://abmhgo.org.br' %> e que serve de guia de direitos a todos os mutuários do SFH, para que possam defender-se dos abusos dos agentes financeiros.
        </p>
        <p class="relative mt-4 text-xl leading-8 text-gray-600 max-w-4xl text-justify">
          A reprodução parcial ou total é permitida <strong>desde que citada a fonte</strong>.
        </p>
      </div>
      <div>
        <ul role="list" class="space-y-3">
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Mutuário - 4ª Edição', '../cartilhas/Cartilha_Mutuario_4a_Edicao.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Construtoras', '../cartilhas/Cartilha_Construtoras_2015.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Manual da Casa Própria - 2ª Edição', '../manuais/Manual_da_Casa_Propria_2_Edicao.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
