<div class="pb-16 pt-24 sm:pt-32">
  <div class="mt-10 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-16 gap-y-8 lg:max-w-none lg:grid-cols-2">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Previdenciário
        </h1>
        <h3 class="mt-10 text-xl font-medium tracking-tight text-gray-600 sm:text-3xl">
          Cartilhas
        </h3>
        <p class="relative mt-4 text-xl leading-8 text-gray-600 max-w-4xl text-justify">
          Rotinas trabalhistas e previdenciárias são abordadas em cartilhas simples que orientam o modo de agir do trabalhador e do aposentado diante de situações comuns do dia-a-dia.
        </p>
        <p class="relative mt-4 text-xl leading-8 text-gray-600 max-w-4xl text-justify">
          A reprodução parcial ou total é permitida <strong>desde que citada a fonte</strong>.
        </p>
      </div>
      <div>
        <ul role="list" class="space-y-3">
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Idoso', '../cartilhas/Cartilha_Idoso_4a_edicao.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha da Previdência - Edição Especial: Aposentadoria do INSS', '../cartilhas/Cartilha_da_Previdencia_INSS.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Guia prático do cuidador', '../manuais/Guia_Pratico_Cuidador.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
