<% has_errors = form.object.errors.include?(attribute) %>

<div data-controller="quill">
  <%= form.label attribute, class: 'block text-sm font-medium leading-6 text-gray-900' %>
  <div class="mt-2">
    <%= form.hidden_field attribute %>
    <div class="quill" data-quill-target="editor" data-field-id="<%= field_id(form.object, attribute) %>"></div>
  </div>
  <% if has_errors %>
    <div class="text-xs text-red-600 mt-2">
      <% form.object.errors.full_messages_for(attribute).each do |error_message| %>
        <div>
          <%= error_message %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if false %>
  <div class="ring-red-500 focus:ring-red-500 ring-gray-300 focus:ring-ibedec-blue-500 text-xs text-red-600 mt-2"></div>
<% end %>
